.products{
    padding-right: 700px;
}
.span-title:hover{
    color: springgreen;
}
nav{
    display: flex;
    justify-content:first baseline;
    justify-content:end;
    background-color:wheat;
    padding: 25px;
}
nav a {
    text-decoration: none;
    margin-right: 10px;
    color: royalblue;
}
.btn-title{
    color: white;
    background-color: #E02C6D;
    border: 0px;
    border-radius: 10px;
    padding: 5px;
}
h1{
    font-weight: 700;
    font-size: 50px;
}
h2{
    text-align: center;
    font-weight: 700;
    font-size: 50px;
}
.container{
    display: flex;
    margin-top: 50px;
}
.container-title:hover{
    transform: scale(1.2) skew(0deg);
    transition: transform 1s ease-in;
}
.raiting-site{
    padding-left: 20px;
}
.images-site:hover{
    transform: scale(1.2) skew(0deg);
    transition: transform 1s ease-in;
}
.images-site{
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    padding-left: 60px;
}
/* .............................. */
.main-detile{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 70px;
    
    }
.container-title{
    margin-top: 100px;
}
.container-detile{
    box-shadow: 10px 10px 60px rgb(237, 236, 233);
    padding: 25px;
   width: 75%;
   border-radius: 5px;

}
.icons-frame{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    align-items: center;
    border: 1px dotted wheat;
    padding: 15px;
    margin-top: 50px;
}
.fa-star.filled{
    color: 
    #FFC014;
}
.fa-star.empty{
    color: 
    
#AEAEAE;
}
.lest-par{
    color: #E02C6D;
}
.lest-pars{
    color: white;
    background-color: #E02C6D;
    border: 0px;
    border-radius: 10px;
    padding: 5px;
}
.padding-item{
    padding-left: 25px;
    padding-right: 25px;
}
.lest-container:hover{
    transform: scale(1.2) skew(0deg);
    transition: transform 1s ease-in;
}
.lest-container{
    display: flex;
    margin-top: 25px;
    padding-left: 80px;
}

.login-container{
    display: flex;
    justify-content: center;
margin-top: 50px;
}
.login-form input{
    margin-top: 1em;
    font-size: 1.5em;
    padding: 5px, 10px;
}
.login-form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 20px;
    background-color: wheat;
    padding: 20px;
    border-radius: 5px;
    
}
.submit{
background-color: gold;
border-radius: 5px;
border: 0px;
color: whitesmoke;
}
.submit:hover{
    background-color: springgreen;
    color: #E02C6D;
}
.footer-title{
    color: #E02C6D;
    text-align: center;
    background-color: #0A0826;
    padding: 50px;
    margin-top: 30px;
}